<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<h1>Create User</h1>

<form th:object="${user}" th:action="@{/user/}" id="user-form" role="form" method="post">
    <div><label>Username:
        <input type = 'text' th:field = "${user.username}" th:value="${user.username}">
    </label></div>
    <p class="error" th:errors="${user.username}"></p>
    <div><label>Email:
        <input type = 'text' th:field = "${user.email}" th:value="${user.email}">
    </label></div>
    <p class="error" th:errors="${user.email}"></p>
    <div><label>Password:
        <input type = 'password' th:field = "${user.password}">
    </label></div>
    <p class="error" th:errors="${user.password}"></p>

    <div>
    <input type="submit" value="Submit Form"/>
    </div>
</form>


</body>
</html>